
  # Игнорируем скомпилированные классы IntelliJ IDEA
  /out/

  # Игнорируем временные папки IntelliJ IDEA
  /.idea/
  /*.iml

  # Игнорируем папку target для Maven
  /target/

  # Игнорируем настройки IDE и системные файлы
  /.vscode/
  /*.log
  .DS_Store
  Thumbs.db